services:
  web:
    build: .
    container_name: web_app
    restart: always
    ports:
      - "3003"
    environment:
      - DB_HOST=10.67.3.111
      - DB_USER=root
      - DB_PASSWORD=Qshc@68335
      - DB_NAME=inventory_db
      - PORT=3003
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: it_support_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
